/* Général de la page */
*,
::after,
::before{
    box-sizing: border-box;
    
}

body
{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    font-family: "Roboto", sans-serif;
}
main
{
    padding: 0 4rem;
}