@charset "UTF-8";
/* Général de la page */
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0;
}

/* Header */
header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  position: relative;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 1rem;
}

.localisation {
  display: flex;
  background-color: #f3f3f3;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  font-size: 2rem;
  padding-left: 1rem;
  padding: 0.5rem;
}
.localisation .localisation__icon {
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-left: 5rem;
}
.localisation i:hover {
  cursor: pointer;
}
.localisation .btn__text {
  background-color: #f3f3f3;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}

/* Partie réservation */
.reservation {
  text-align: center;
}
.reservation .explorer__btn {
  margin: 15px 0px;
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  color: #fff;
  font-size: 1.5rem;
  transition: transform 100ms;
  box-shadow: 1px 3px 15px 3px rgba(0, 0, 0, 0.43);
}
.reservation .explorer__btn:hover {
  cursor: pointer;
  transform: scale(1.03);
  opacity: 0.8;
}
.reservation .reservation__title {
  margin-top: 2rem;
  font-size: 2rem;
}
.reservation .reservation__subtitle {
  font-size: 1rem;
}

.selection {
  counter-reset: steps;
}
.selection ol {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
@media (max-width: 800px) {
  .selection ol {
    width: 90%;
    flex-direction: column;
  }
}
.selection li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 1px 3px 15px 3px rgba(0, 0, 0, 0.43);
}
.selection li::before {
  content: counter(steps);
  counter-increment: steps;
  background-color: #9356DC;
  color: white;
  display: grid;
  place-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  bottom: 1rem;
  left: -1.2rem;
}
.selection li:hover {
  cursor: pointer;
  transform: scale(1.03);
  background: #f2eafb;
}
.selection li:hover i.fas {
  color: #9356DC;
}
.selection li i.fas {
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 1.5rem;
}

.menus {
  background-color: #F6F6F6;
  padding-bottom: 1rem;
}
.menus h2 {
  margin-top: 2rem;
  padding: 2rem 1rem;
}
.menus .menus__cards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}
.menus .menus__cards .card {
  border-radius: 1rem;
  width: 46%;
  height: 20rem;
  overflow: hidden;
  transition: 500ms;
  box-shadow: 1px 3px 15px 3px rgba(0, 0, 0, 0.43);
}
@media (max-width: 800px) {
  .menus .menus__cards .card {
    width: 90%;
    align-items: center;
  }
}
.menus .menus__cards .card .tag__new {
  position: relative;
}
.menus .menus__cards .card .tag__new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 6rem;
  background-color: #99E2D0;
  padding: 5px 15px 5px 15px;
  color: #217460;
  border-radius: 0.3rem;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
  animation-name: blinker;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.menus .menus__cards .card:hover {
  box-shadow: 1px 3px 15px 10px rgba(0, 0, 0, 0.43);
}
.menus .menus__cards .card img {
  height: 16rem;
  width: 100%;
  object-fit: cover;
}
.menus .menus__cards .card .card__text {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background: white;
  padding: 0rem 1rem;
  margin-bottom: 0.5rem;
}
.menus .menus__cards .card .card__link {
  display: flex;
  position: relative;
}
.menus .menus__cards .card .card__content a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: black;
}
.menus .menus__cards .card .card__content a h3 {
  margin-top: 0.1rem;
  margin-bottom: 0.2rem;
  font-size: 1rem;
}
.menus .menus__cards .card .card__content a .card__subtitle {
  font-weight: 100;
}
.menus .menus__cards .card label {
  opacity: 0;
  position: absolute;
}
.menus .menus__cards .card input {
  cursor: pointer;
  position: absolute;
  outline: none;
  width: 1.9rem;
  height: 1.9rem;
  margin-top: 0.7rem;
  z-index: 4;
  opacity: 0;
}
.menus .menus__cards .card input:checked + .icon__heart {
  animation: hearts 0.95s forwards;
}
.menus .menus__cards .card .icon__heart {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  display: block;
  outline: none;
  padding: 1px;
  transform: scaleY(0);
  transform-origin: 50% 50%;
  transition: all 200ms ease-in-out;
  font-size: 1.6rem;
  position: absolute;
  margin-top: 0.7rem;
  z-index: 2;
}
.menus .menus__cards .card .heart__custom {
  display: block;
  outline: none;
  position: relative;
  padding: 0.1rem;
  margin-top: 0.7rem;
  margin-right: 0.1rem;
  font-size: 1.5rem;
  font-weight: normal;
  z-index: 1;
}
.menus .menus__cards .card .card__new {
  font-family: "Roboto", sans-serif;
  z-index: 1;
  padding: 5px 15px 5px 15px;
  border-radius: 3px;
  top: 10px;
  right: 10px;
  position: absolute;
  background-color: #99E2D0;
  color: #3b8568;
}

@keyframes hearts {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
footer {
  width: 100%;
  text-decoration: none;
  background-color: #363636;
  padding: 1.5rem 2rem;
  color: white;
}
footer .container {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
}
footer .container .footer__logo {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  padding-left: 1.1rem;
  padding-top: 1rem;
}
footer ul {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0;
}
footer ul li {
  list-style-type: none;
}
footer ul a {
  margin: 0 0.5rem;
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
}
footer ul .footer__listelt {
  display: flex;
  margin: 0;
  font-size: 1.5rem;
}
footer ul .footer__listelt i {
  font-size: 1.2rem;
  margin-right: 0.3rem;
}

.banner img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: center bottom;
}

.main__menus {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #F6F6F6;
  margin-top: -4rem;
  border-radius: 3rem 3rem 0 0;
  padding: 1rem;
}
.main__menus label {
  opacity: 0;
  position: absolute;
}
.main__menus input {
  cursor: pointer;
  position: absolute;
  outline: none;
  width: 1.9rem;
  height: 1.9rem;
  margin-top: 0.7rem;
  z-index: 4;
  opacity: 0;
}
.main__menus input:checked + .icon__heart {
  animation: hearts 0.95s forwards;
}
.main__menus .icon__heart {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  display: block;
  outline: none;
  padding: 1px;
  transform: scaleY(0);
  transform-origin: 50% 50%;
  transition: all 200ms ease-in-out;
  font-size: 1.6rem;
  position: absolute;
  margin-top: 0.7rem;
  z-index: 2;
}
.main__menus .heart__custom {
  display: block;
  outline: none;
  position: relative;
  padding: 0.1rem;
  margin-top: 0.7rem;
  margin-right: 0.1rem;
  font-size: 1.5rem;
  font-weight: normal;
  z-index: 1;
}
.main__menus h2 {
  margin: 1rem;
  font-family: "Shrikhand", cursive;
}

.menus__group {
  display: flex;
  flex-direction: row;
  font-family: "Roboto", cursive;
  width: 100%;
  padding: 2.5rem;
  gap: 1rem;
  background-color: #F6F6F6;
}
@media (max-width: 800px) {
  .menus__group {
    flex-direction: column;
  }
}

.menus__list {
  flex-grow: 1;
  padding: 0.5rem;
}

.menus__item {
  display: flex;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 1rem;
  gap: 2rem;
  box-shadow: 1px 3px 15px 3px rgba(0, 0, 0, 0.43);
}

.menus-item__details h4 {
  font-size: 1rem;
  margin: 0;
}
.menus-item__details p {
  font-size: 0.8rem;
  font-weight: 100;
  margin: 0;
}

.menus-item__price {
  margin-left: auto;
  font-weight: 900;
  margin-bottom: 0;
}

.checkout {
  display: flex;
  justify-content: center;
}
.checkout .btn__checkout {
  margin: 15px 0px;
  padding: 0.5rem;
  border-radius: 2rem;
  border: none;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  color: #fff;
  font-size: 1.5rem;
  transition: transform 100ms;
  box-shadow: 1px 3px 15px 3px rgba(0, 0, 0, 0.43);
}
.checkout .btn__checkout :hover {
  cursor: pointer;
  transform: scale(1.3);
  opacity: 0.8;
}

/*# sourceMappingURL=style.css.map */
