@mixin gradient {
    background-image: linear-gradient(to top, $primary-color, $secondary-color);
    
}
@mixin zoom {
    transform: scale(1.03);  
}
@mixin base-shadow {
    box-shadow: 1px 3px 15px 3px rgba(0, 0, 0, 0.43);
}
@mixin dark-shadow {
    box-shadow: 1px 3px 15px 10px rgba(0,0,0,0.43);
}