@import "../utils/colors.scss";
.localisation
{
  display: flex;
  background-color:darken($darkgrey,10%);
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  font-size: 2rem;
  padding-left: 1rem;
  padding: 0.5rem;
  & .localisation__icon{
    font-size: 1.3rem;
    padding-top: 0.5rem;
    padding-left: 5rem;
  }
  & i:hover{
        cursor: pointer;
    } 
    .btn__text{
        background-color:darken($darkgrey,10%);
        border: none;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 1.2rem;
    }
}
.loader 
{
    position: fixed;
    background-color: #ffffff;
    height: 100vh;
    inset: 0;
    z-index: 99;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Shrikhand", cursive;
    animation: loading 5s;
    animation-fill-mode: forwards;
    transform-origin: top;
    & .loader h1 {
        margin: 0;
        padding-bottom: 25rem;
        font-weight: 100;
        font-size: 2rem;
      }
}
@keyframes loading 
{
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
  .let1 {
    animation: drop 1s ease-in-out infinite;
    animation-delay: .2s;
  }
  .let2 {
    animation: drop 1s ease-in-out infinite;
    animation-delay: .3s;
  }
  .let3 {
    animation: drop 1s ease-in-out infinite;
    animation-delay: .4s;
  }
  .let4 {
    animation: drop 1s ease-in-out infinite;
    animation-delay: .5s;
  }
  .let5 {
    animation: drop 1s ease-in-out infinite;
    animation-delay: .6s;
  }
  .let6 {
    animation: drop 1s ease-in-out infinite;
    animation-delay: .7s;
  }
  .let7 {
    animation: drop 1s ease-in-out infinite;
    animation-delay: .8s;
  }
  .let8 {
    animation: drop 1s ease-in-out infinite;
    animation-delay: .9s;
  }
  .let9 {
    animation: drop 1s ease-in-out infinite;
    animation-delay: .10s;
  }
  .let10 {
    animation: drop 1s ease-in-out infinite;
    animation-delay: .11s;
  }
  .let11 {
    animation: drop 1s ease-in-out infinite;
    animation-delay: .12s;
  }
  
@keyframes drop {
      10% {
          opacity: 0.5;
      }
      20% {
          opacity: 1;
          top: 2rem;
          transform: rotateX(-360deg);
      }
      80% {
          opacity: 1;
          top: 2rem;
          transform: rotateX(-360deg);
      }
      90% {
          opacity: 0.5;
      }
      100% {
          opacity: 0;
          top:6rem;;
      }
}
  