@include mobile-bp;
@include tablette-bp;
@include desktop-bp;
#homepage {
    
    .menus {
        background-color: $backgroundgray;
        padding-bottom: 1rem;
        & h2{
            padding-top: 2.5rem;
            padding-left: 1rem;
        }
        .menus__cards {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            gap: 1.3rem;
            margin-bottom: 3rem;
            & .card {
                border-radius: 1rem;
                height: auto;
                overflow: hidden;
                transition: 600ms;
                align-items: center;
                @include base-shadow;
                .tag__new{
                    position: relative;
                }
                .tag__new::before{
                    content: "Nouveau";
                    position: absolute;
                    height: 2rem;
                    width: 6rem;
                    background-color: $third-color;
                    padding: 5px 15px 5px 15px;
                    color: #008766;
                    border-radius: 0.3rem;
                    display: grid;
                    place-items: center;
                    right: 1rem;
                    top: 1rem;
                    animation-name: blinker;
                    animation-duration: 1s;
                    animation-iteration-count: infinite;            
                }
                &:hover{
                    @include dark-shadow;
                }
                & img {
                    width: 100%;
                    object-fit: cover;
                }
                & .card__text{
                    font-family: "Roboto", sans-serif;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: space-between;
                    background: white;
                    padding: 0.5rem 1rem;
                }
                & .card__link{
                    display: flex;
                    position: relative;
                } 
                & .card__content a{
                    text-decoration: none;
                    font-family: "Roboto", sans-serif;
                    color: black;
                    & h3{
                        margin-top: 0.1rem;
                        margin-bottom: 0.2rem;
                        font-size: 1rem;
                    }
                    & .card__subtitle{
                        font-weight: 100;
                    }
                }
                @include heart-custom;
            }    
        }
    }
}