@import "../utils/zoom.scss";
@import "../utils/colors.scss";
.selection{
    counter-reset: steps;
    & ol{
        display: flex;
        gap: 2rem;
        @media (max-width: 800px) {
            flex-direction: column;
            
        }
       
    }
    & li{
        position: relative;
        &::before{
            
            content: counter(steps);
            counter-increment: steps;
            background-color: $purple;
            color: white;
            display: grid;
            place-items: center;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            position: absolute;
            bottom: 1rem;
            left: -1.2rem;
            
        }
        list-style-type: none;
        background-color: #f6f6f6;
        padding: 1.5rem 2rem;
        flex-grow: 1;
        border-radius: 1rem;
        @include base-shadow;
        &:hover{
            cursor: pointer;
             @include zoom;
            background-color:#f2eafb;  
        }
        & i.fas{
            margin-right: 1rem;
            color: $lightgrey;
            font-size: 1.5rem;
        }
        
    }
    
}
