
.selection{
    counter-reset: steps;
    & h2{
        margin-left: 1rem;
    }
    & ol{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1.5rem;
        gap: 2rem;
        padding-left: 2rem;
        @media only screen and (min-width:600px) {
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
            }
        }
        & li{
            position: relative;
            list-style-type: none;
            background-color: #f6f6f6;
            padding: 1.5rem 1rem;
            border-radius: 1rem;
            @include base-shadow;
            @media screen and (min-width: 1024px) {
                flex-grow: 1;
    
                
            }
            & span{
                font-weight: 600;
        }
        &::before{
            content: counter(steps);
            counter-increment: steps;
            background-color: $primary-color;
            color: white;
            display: grid;
            place-items: center;
            width: 1.6rem;
            height: 1.6rem;
            border-radius: 50%;
            position: absolute;
            bottom: 1.5rem;
            left: -1.2rem;
        }
        &:hover{
            cursor: pointer;
            @include zoom;
            background: $light-purple;
            & i.fas{
              color: $primary-color;
            }  
        }
        & i.fas{
            margin-right: 1rem;
            color: $lightgrey;
            font-size: 1.2rem;
        }
    }
}
            
    
